image: Visual Studio 2017
version: 2.1.0-rtm-{build}
services:
  - postgresql101
environment:
  global:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    Test__Npgsql__DefaultConnection: Host=localhost;Database=postgres;Username=postgres;Password=Password12!
    PGUSER: postgres
    PGPASSWORD: Password12!
    POSTGIS_EXE: postgis-bundle-pg10x64-setup-2.4.4-1.exe
    NoPackageAnalysis: true  # Suppresses warning about SemVer 2.0.0 version suffixes when packing
cache:
  - '%USERPROFILE%\.nuget\packages -> **\*.csproj'
  - $(POSTGIS_EXE)
clone_depth: 10
install:
  - powershell .build\setup_appveyor.ps1
  # Install .NET Core 2.0
  - ps: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/dotnet/cli/master/scripts/obtain/dotnet-install.ps1" -OutFile "install-dotnet.ps1"
  - ps: .\install-dotnet.ps1 -Version 2.1.300-rc1-008673
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
before_build:
  - appveyor-retry dotnet restore -v Minimal
build_script:
  - dotnet pack src\EFCore.PG\EFCore.PG.csproj -c Release
test_script:
  - dotnet test test\EFCore.PG.Tests\EFCore.PG.Tests.csproj
  - dotnet test test\EFCore.PG.FunctionalTests\EFCore.PG.FunctionalTests.csproj
artifacts:
  - path: 'src\**\*.nupkg'
deploy:
  - provider: Environment
    name: MyGet Unstable
    on:
      deploy_myget_unstable: true
  - provider: Environment
    name: MyGet Stable
    on:
      deploy_myget_stable: true
  - provider: Environment
    name: EFCore.PG Github
    on:
      deploy_github_release: true
