.DS_Store
*.resources
*.suo
*.user
*.sln.docstates
*.userprefs
/*.nupkg
.nuget/
.idea/
.vs/
[Bb]in/
[Oo]bj/
[Oo]bj/
artifacts/
# Roslyn cache directories
*.ide/
TestResult.xml
# Docker
.build/docker/
!.build/docker/current
