<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
        <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
        <add key="npgsql-vnext" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
            <!-- Our npgsql-vnext feed doesn't necessarily contain the last preview (package retention rules...), so we take it from nuget.org -->
            <package pattern="Npgsql" />
            <package pattern="Npgsql.*" />
        </packageSource>
        <packageSource key="npgsql-vnext">
            <package pattern="Npgsql" />
            <package pattern="Npgsql.*" />
        </packageSource>
        <packageSource key="dotnet7">
            <package pattern="*" />
        </packageSource>
        <packageSource key="dotnet-eng">
            <!-- EF Core depends on xunit 2.4.2-pre.9 which is only in dotnet-eng.
                 But some xunit packages still need to come from nuget.org, so we cherry-pick. -->
            <package pattern="xunit" />
            <package pattern="xunit.assert" />
            <package pattern="xunit.core" />
            <package pattern="xunit.extensibility.core" />
            <package pattern="xunit.extensibility.execution" />
        </packageSource>
    </packageSourceMapping>

</configuration>
