<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="DotnetCore" value="https://dotnet.myget.org/f/dotnet-core" />
    <add key="AspNetCoreDev" value="https://dotnet.myget.org/f/aspnetcore-dev" />
    <add key="NpgsqlUnstable" value="https://www.myget.org/F/npgsql-unstable/api/v3/index.json" />
  </packageSources>
</configuration>
