<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="NpgsqlUnstable" value="https://www.myget.org/F/npgsql-unstable/api/v3/index.json" />
    <add key="AspNetCIDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <!-- Added because of https://github.com/xunit/xunit/issues/843, occured on build server -->
    <add key="XUnit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
</configuration>
