<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
<!--
        <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
        <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
        <add key="npgsql-vnext" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
-->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
            <!-- Our npgsql-vnext feed doesn't necessarily contain the last preview (package retention rules...), so we take it from nuget.org -->
            <package pattern="Npgsql" />
            <package pattern="Npgsql.*" />
        </packageSource>
        <packageSource key="npgsql-vnext">
            <package pattern="Npgsql" />
            <package pattern="Npgsql.*" />
        </packageSource>
<!--
        <packageSource key="dotnet8">
            <package pattern="*" />
        </packageSource>
-->
    </packageSourceMapping>

</configuration>
